---
---

@import "{{ site.theme }}";
.main-content h1 code {font-size: 0.6em}
.main-content {font-size: 1.2rem}
.page-header {
	padding: 1.5rem 3rem;
}
.project-tagline {margin-bottom:0em;}
h1 a, h1 a:hover, h1 a:visited, h1 a:link, h1 a:active { text-decoration: none; color: #fff }